.FaceBranding{
    position: absolute;
    top: 14%;
    left: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    h1{
        z-index: 9999;
        span{
            opacity: 0.5;
        }
    }

   .Highscore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 50%;
    //    margin-top: 10%;
    //    z-index: 0;
    //    position: absolute;
    // height: 60vh;
    // filter: invert(100%) opacity(30%);
    // width: 70vw;
    // background: url(../../../../assets/img/FACEGAME.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
   }
   p{
       width: 65%;
       position: absolute;
       left: 10%;
       margin-top: 20%;
    }
}