// @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
@import "./varibles.scss";
@import "./breakpoints.scss";

@font-face {
    font-family: police;
    src: url(../assets/font/MonumentExtended-Regular.otf);
  }
  * {
    font-weight: 900;
    padding: 0;
    margin: 0;
    font-family: police;  
    color: white;
}
  
body,html{
    background-color: #171717;
}

.topPage{
    padding-top: 128px;
}
.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}
