@import "../../styles/breakpoints.scss";

header {
    font-size: 16px;
    position: fixed;
    z-index: 99999;
    background-color: #171717;
    width: 100%;
    font-weight: "700";
    .container {
      .row {
        height: 128px;
        .logo {
          a {
            letter-spacing: 1em;
            text-decoration: none;
          }
        }
        .menu {
          margin-right: 2rem;
          cursor: pointer;
          border-radius: 100%;
          border: 1px solid white;
          height: 80px;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s ease-in-out;
          @include media("<=phone") {
            width: 70px;
            height: 70px;
          }
          &:hover {
            color: black;
            background: white;
          }
        }
      }
    }
  }
  